<h1>Contact Page</h1>
<div class="container">
	<p class="navbar well-sm">
		If you have any question or feedback please leave a message with your email address.
	</p>
</div>

<div class="main">
	{{#unless Flashmessage}}
		<div>
			<strong>
				Your Email Address*:
			</strong>
		</div>
		<div>
			{{input type="email" value=EmailAddress class="form-control" placeholder="Your Email Address" autofocus="autofocus"}}
		</div>
		<div>
			<strong>
				Your Message*:
			</strong>
		</div>
		<div>
			{{textarea class="form-control" placeholder="Your message.(At least 5 characters.)" rows="7" value=Message}}
		</div>
		<button class="btn btn-success" disabled={{unless isValid 'disabled'}} {{action "SendMessage"}}>
			Send Message
		</button>
	{{else }}
	  Thank you! Your message is sent.
	  {{Flashmessage}}
	{{/unless }}

</div>